.bubble-element {
    opacity: 0;
    scale: 0.01 0.01;
    transition-property: scale, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-out-back;
    transform-origin: center;
}

.bubble-active {
    opacity: 1;
    scale: 1 1;
}

.no-transition {
    transition-property: none;
}


